@font-face {
    font-family: "Philo";
    src: url("font/Philosopher-Regular.ttf") format("opentype") ,

  }

  .loadingPage{
    height: 100vh;
    width: 100%;
    background-color: black;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    color:white;
    font-size: 5rem;
    overflow: hidden;
    z-index: 1;
}

.loader{
    overflow: hidden;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingActive{
    transform: translateY(100%);
    transition: transform 0.2s linear;
    overflow: hidden;
}

a{
    text-decoration: none;
    color:rgb(0, 255, 136)
}
.container{
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   position: relative;
   background-color: black;
}



body{
    background-color: black;
    padding:0;
    margin:0;
    position: relative;
    scrollbar-width: none;
}

.body::-webkit-scrollbar {
    display: none;
    font-family: 'Philo';
  }
  
  /* Pour Firefox */
 

#vara-container{
    width: 100%;
    margin-top: 50px;
    color:white;
    text-align: left;
    font-size: 1.5rem;
    
}

.texteMotivation{
    padding:0 2rem;
}

.informations{
    width: 100%;
    background-color: rgb(0, 0, 0);
    transform: translateX(-100%);
 
}

.active{
    transform: translateX(0);
    transition: transform 0.4s linear;
}
.containerInformations{
    width: 100%;
}

dt,dd{
    display: inline;
    margin: 0;
}

dl{
    display: flex;
    flex-direction: column;
    gap:1.1rem;
    margin-left: 0.5rem;
    color: white;
    padding: 0 1rem;
}

dt{
    font-weight: bold;
    font-size: 1.2rem;
}
dd{
    font-size: 1.2rem;
}

.parentProg{
    margin-top: 3rem;
}

.containerProg{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.ddProg{
    width: 70%;
    height: 0.6rem;
    display: inline-block;
   border: 1px solid white;
}

.ddHTML,.ddCSS,.ddJs,.ddPhp,.ddRt{
background-color: white;
height: 100%;
}

.ddHTML{
    width: 80%;
}

.ddCSS{
    width: 80%;
}

.ddJs{
    width: 75%;
}

.ddPhp{
    width: 63%;
}

.ddRt{
    width: 53%;
}

.information{
    margin-left: 0.2rem;
}

@media screen and (min-width: 320px) and (max-width: 424.99px){


.containerProg{
   
    margin-right: 1vw;
}
}


@media screen and (min-width: 425px) and (max-width: 767.98px){


.containerProg{
   
    margin-right: 25vw;
}
}

@media screen and (min-width: 767.99px) and (max-width: 1023.98px){
    
.containerProg{
  
    margin-right: 33vw;
}
}

@media screen and (min-width: 1023.99px) and (max-width: 1439.99px){
.container{
    flex-direction: row;
}

.informations{
    width: 30%;
    height: 100%;
    position: fixed;
    z-index: 2;
}

dt,dd{
    font-size: 1.5vw;
}

.containerInformations{
    position: relative;
    width: 30%;
    height: 100vh;
}

#vara-container{
    width: 70%;
    padding:50px;
    margin-top: 10px;
}

dl{
    margin-left: 0.7rem;
}
}

@media screen and (min-width: 1440px){
.container{
    flex-direction: row;
}

.informations{
    width: 25%;
    height: 100vh;
    position: fixed;
    top:0;
    z-index: 2;
}

.containerInformations{
    position: relative;
    width: 25%;
    height: 100vh;
}

#vara-container{
    width: 75%;
    padding:50px;
    margin-top: 10px;
}

dl{
    margin-left: 0.7rem;
}
}